.container{
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
}
.container * {
    box-sizing: border-box;
}
.page-content {
    padding-top: 20px;
    padding-bottom: 100px;
}
.pr-4 {
    padding-right: 24px!important;
}
.float-left {
    float: left!important;
}
.col-3 {
    width: 25%;
}
.col-9 {
    width: 75%;
}
.position-relative {
    position: relative!important;
}
.menu {
    margin-bottom: 15px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;

}
.menu-heading:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.menu-heading {
    display: block;
    padding: 8px 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #586069;
    background-color: #f3f5f8;
    border-bottom: 1px solid #e1e4e8;
}
.menu-item {
    position: relative;
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid #e1e4e8;
}
.page-content a {
    color: #0366d6;
    text-decoration: none;
}
/*#f3f5f8*/
.menu-item:hover {
    background: #f3f5f8;
}
.active{
    background: #f3f5f8;
    font-weight: 600;
    color: #24292e!important;
    cursor: default;
}
.Subhead {
    display: flex;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #e1e4e8;
    flex-flow: row wrap;
}
.Subhead-heading {
    font-size: 24px;
    font-weight: 400;
    flex: 1 1 auto;
}
