.profile-container{
    padding: 15px 15px;
    background-color: #f6f8fa;
}
.profile-container .profile-main{
    width: 1200px;
    margin:0 auto;
}
.profile-container .el-card__body {
    padding: 20px 0;
}
.el-card, .el-message {
    border-radius: 0px;
    overflow: hidden;
}