.container{
    width: 1184px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
}
.container * {
    box-sizing: border-box;
}
.page-content {
    padding-top: 20px;
    padding-bottom: 100px;
}
.pr-4 {
    padding-right: 24px!important;
}
.float-left {
    float: left!important;
}
.col-3 {
    width: 25%;
}
.col-9 {
    width: 75%;
    min-height: 400px;
}
.position-relative {
    position: relative!important;
}
.menu {
    margin-bottom: 15px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;

}
.menu-heading:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.menu-heading {
    display: block;
    padding: 8px 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #586069;
    background-color: #f3f5f8;
    border-bottom: 1px solid #e1e4e8;
}
.menu-item {
    position: relative;
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid #e1e4e8;
}
.page-content a {
    color: #0366d6;
    text-decoration: none;
}
/*#f3f5f8*/
.menu-item:hover {
    background: #f3f5f8;
}
.active{
    background: #f3f5f8;
    font-weight: 600;
    color: #24292e!important;
    cursor: default;
}
.Subhead {
    display: flex;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #e1e4e8;
    flex-flow: row wrap;
}
.Subhead-heading {
    font-size: 24px;
    font-weight: 400;
    flex: 1 1 auto;
}
.wallet-container{
    box-sizing: border-box;
}
.flex-list-header {
    line-height: 42px;
    border: 1px solid #ddd;
    background: #409eff;
    color: #fff;
}
.flex-list-header .flex-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.first {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 20px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.flex-list-header .flex-cell {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 128px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.flex-list-item {
    border: 1px solid #ddd;
    margin-top: 21px;
}
.flex-list-item .content {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.flex-list-item .content .flex-cell {
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid #eee;
}
.flex-list-item .content .state {
    text-align: center;
    color: #42c02e;
}
.flex-cell {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 128px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.flex-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-list-item .content .hash {
    color: #ffb200;
    text-align: left;
    word-break: break-word;
}