.Header{
    z-index: 32;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: hsla(0,0%,100%,.7);
    background-color: #24292e;
    position: relative;
}
.Header-item{
    margin-right: 16px;
    align-self: stretch;
}
.Header, .Header-item{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.Header .Header-item:hover{
    cursor: pointer;
}
.Header .Header-item .item-img i{
    display: block;
    font-size: 20px;
    color: #fff;
    transition: color .15s linear;
}
.Header .nav{
    display: flex!important;
}
.Header .nav a{
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}
.Header .nav a:hover{
    color: #e1e4e8;
}
.nav .nav-item{
    margin-right: 16px;
}
.Header .first{
    margin-left: 200px;
}
.Header .left{
    display: flex;
}
.Header .right{
    display: flex;
}
.Header .right .el-button{
    line-height: 0.4;
    background: transparent;
    color: #fff;
}
.Header .right .lgn-btn{
    line-height: 0.4;
    background: transparent;
    color: #fff;
    border-color: transparent;
}
.Header .login{
    margin-right: 20px;
}
.el-dropdown-menu{
    border-radius: 0!important;
}
.Header-item .el__button{
    font-size: 17px;
}
.switch-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.other{
    width: 100px;
    height: 100px;
}
.switch-panel .switch-item{
    cursor: pointer;
    position: relative;
}
.switch-panel .switch-item p{
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
.switch-panel .switch-item .type{
    opacity: 1;
    transition: 0.1s;
    font-size: 14px;
    color: #414a60;
    font-weight: 600;
    width: 100%;
    text-align: center;
}
.switch-panel .switch-item svg{
    width: 100px;
    height: 100px;
}
.svg-medium svg{
    width: 80px!important;
    height: 80px!important;
}
.svg-medium{
    cursor: auto!important;
}
.ban{
    cursor: not-allowed!important;
}
.myidentity{
    margin-top: -20px;
    margin-bottom: 20px;
}