body {
    height: 100%;
    width: 100%;
    display: block;
    line-height: 1.42857;
    overflow: visible!important;
    padding: 0!important;
}
#app {
    background-color: #f6f6f8;
    min-width: 1280px;
    font-size: 14px;
}
#container {
    width: 100%;
    box-sizing: border-box;
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
a{
    text-decoration: none!important;
}
li, ol, ul {
    list-style: none;
}
.inner{
    width: 1184px;
    margin: 0 auto;
}
body ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
body ::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}
body ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #ddd;
    border-radius: 10px;
}
body ::-webkit-scrollbar-track-piece {
    background-color: #f1f1f1;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.fr{
    float: right;
}
.upload-demo{
    width: 100%;
}
.active {
    background: #f3f5f8!important;
    font-weight: 600;
    color: #24292e!important;
    cursor: default;
}
.d-flex{
    display: flex;
}
.d-flex-sbt{
    justify-content: space-between;
}
.d-flex-jte{
    justify-content: flex-end;
}
.d-flex-row{
    flex: 1;
}
.d-block{
    display: block!important;
}
.normal-margin-top{
    margin-top: 10px;
}
.normal-pad-top{
    padding-top: 10px;
}
.normal-pad-right{
    padding-right: 10px;
}
.medium-pad-right{
    padding-right: 20px;
}
.normal-margin-btm{
    margin-bottom: 10px;
}
.medium-margin-top{
    margin-top: 20px;
}
.normal-pdd{
    padding: 10px 0;
}


/*警告消息*/
.warning-container{
    padding-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.warning-container img{
    width: 15px;
    height: 15px;
}
.warning-container .warning{
    padding-left: 5px;
    font-size: 12px;
    color: #969696;
}
/*警告消息*/


/*空消息盒子*/
.empty-box{
    display: flex;
    justify-content: center;
    min-height: 290px;
    align-items: center;
}
.empty-box .message{
    display: flex;
    align-items: center;
}
.empty-box .message .message-txt{
    margin-left: 5px;
}
.empty-box .message .mark{
    width: 25px;
}
/*空消息盒子*/

/*分页*/
.layout-center{
    display: flex;
    justify-content: center;
    background: #fff;
}
.page-box pagination.is-background .el-pager li {
    background-color: #fff!important;
}
.page-box pagination.is-background .el-pager li:hover{
    color: #62d5c8!important;
}
.page-box .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #62d5c8!important;
    color: #FFF!important;
}
.page-box {
    margin: 10px 0;
    width: 100%;
}
.page-box .el-pagination.is-background .el-pager li,.page-box .el-pagination.is-background .btn-prev,.page-box  .el-pagination.is-background .btn-next{
    margin: 0 5px;
    background-color: #FFF;
    color: #606266;
    min-width: 30px;
    border-radius: 2px;
}
/*分页*/


.btn-pointer{
    cursor: pointer!important;
}

.info-list .info-item {
    border-bottom: 1px solid #e1e4e8;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-size: 16px;
}
.emphase{
    font-size: 19px;
    padding-left: 5px;
    border-left: 2px solid #0366d6;
}


/*搜索框*/
.filter-box .filter-condition{
    min-width: 1184px;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #fff;
    line-height: 25px;
}
.filter-box .filter-condition .filter-row{
    margin: 0 auto 13px;
    width: 1184px;
}
.filter-box .filter-row .title{
    float: left;
    width: 70px;
    color: #414a60;
    font-size: 14px;
    font-weight: 500;
    color: #414a60;
}
.filter-box .filter-row .content {
    display: block;
    overflow: hidden;
    margin-left: 70px;
    font-size: 13px;
}
.filter-box .filter-row a{
    display: inline-block;
    margin-right: 6px;
    padding: 0 8px;
    color: #61687c;
    font-size: 13px;
}
.filter-box .filter-row a:hover{
    color: #00c2b3;
}
.filter-box .filter-row:last-of-type {
    margin-bottom: 0;
}
/*搜索框*/
